big-table {
    height: 100%;
    margin: 0.3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content;
    /* grid-template-columns: repeat(2, 1fr auto); */
}

/* .big-tbody { */
big-table {
    /* margin: 0.3rem; */
    /* background-color: yellow; */
    /* border-top: 1px solid black; */
    /* border-left: 1px solid black; */
}

/* .big-tbody .sort-bar { */
big-table .sort-bar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 1.2em;
    user-select: none;
    background-color: aliceblue;
    color: lightgray;
}

.sort-bar .btd {
    padding: 0;
}

.btr, .sort-bar {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /* height: 1.6em; */
}

.btd {
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 1px 0.2em;
}

.selected {
    background-color: aqua;
}

.active-sort {
    color: black;
}

.bt-scroller {
    /* appearance: none; */
    writing-mode: vertical-rl;
    /* margin: 0 3px; */
    /* min-height: 0; */
    height: 100%;
}