.big-table {
    margin: 0.3rem;
    /* background-color: yellow; */
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.btr {
    border-bottom: 1px solid black;
    /* height: 1.6em; */
}

.btd {
    border-right: 1px solid black;
}