.big-table {
    margin: 0.3rem;
    /* background-color: yellow; */
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.big-table .btrh {
    border-bottom: 1px solid black;
    height: 1.2em;
    user-select: none;
    background-color: aliceblue;
    color: lightgray;
}

.btrh .btd {
    padding: 0;
}

.btr {
    border-bottom: 1px solid black;
    /* height: 1.6em; */
}

.btd {
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 1px 0.2em;
}

.selected {
    background-color: aqua;
}

.active-sort {
    color: black;
}