/* .controls { */
controls-slider {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    /* height: 25vh; */
    opacity: 0.99;
    /* margin: 0.1rem; */
    padding: 1rem 0.6rem 1rem;
}

.emo-button {
    font-size: 2rem;
    border: none;
    background: none;
}

.global-controls {
    display: grid;
    grid-template-columns: auto 1fr 1.3em auto;
    gap: 0.5rem;
    align-items: center;
}

.spacer {
    margin-block: 1rem;
}

/* controls-slider .reset {
    font-size: 2rem;
    border: none;
    background: none;
} */

.session-controls {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1.5em auto;
    gap: 0.5rem;
    align-items: center;
}
