<style>
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        margin-top: 5em;
    }
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin-top: 5em;
    }
    #login {
        display: block;
        margin: 5em 2% 0;
        font-size: 2rem;
    }
</style>

<status-bar></status-bar>

<input type="text" name="login" id="login" class="hidden" placeholder="login" />

<controls-slider class="hidden"></controls-slider>

<nav id="menu">
    <a href="#words-session">Words Session</a>
    <a href="#kanji-session">Kanji Session</a>
    <a href="#words-db">Words DB</a>
    <a href="#kanji-db">Kanji DB</a>
</nav>
