* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
}

/* body {
    height: 100svh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
} */

body {
    font-size: 1.5rem;
}

main-view {
    height: 100svh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input,
button {
    font: inherit;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.writings,
.readings {
    display: flex;
    column-gap: 1.2em;
    flex-wrap: wrap;
}

.alt {
    color: blue;
}

.rare {
    color: gray;
    /* display: inline-block; */
    /* margin-left: 1em; */
}

/* .rare::before {
    content: "　";
}  */

.rare-w {
    color: yellow;
}

.normal-w {
    color: blue;
}

.alternant-w {
    color: green;
}

/* words-session-stats,
.stats {
    font-size: 1.1rem;
}

.nav-buttons {
    display: flex;
    gap: 0.7em;
    height: 3em;
}

.nav-buttons button {
    flex-grow: 6;
    border: none;
    border-radius: 15px;
}

.nav-buttons .good {
    background-color: green;
}

.nav-buttons .pass {
    background-color: gray;
}

.nav-buttons .retry {
    background-color: yellow;
}

.nav-buttons .bad {
    background-color: red;
} */
